.replacement {
    background-color: #e6f5fa;
    transition: all 0.4s;
    position: relative;
    opacity: 0.96;
}

.replacement:hover {
    opacity: 0.7;
}

.education-modal {
    opacity: 0;
    width: 140px;
    position: absolute;
    background-color: white;
    box-shadow: rgb(90 80 162 / 50%) 3px 3px 9px 1px;
    z-index: 99999;
    transition: width 0.3s ease-in, opacity 0.5s;
    padding: 10px 15px;
    font-weight: 400;
    font-size: 12px;
    border-radius: 12px;
}

.education-modal-starter {
    display: flex;
    flex-direction: column;
}

.learn-more-prompt {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.learn-more-prompt img {
    object-fit: contain;
}

#down-arrow-show-more {
    color: grey;
    cursor: pointer;
}

.calledout {
    display: inline-block;
}

.calledout:hover .education-modal {
    opacity: 0.96;
}

.education-modal strong {
    font-weight: 500;
}

.actual-word-used {
    font-size: 16px;
}

.deeper-explainer {
    font-size: 12px;
}

.one-line-explainer {
    font-size: 14px;
    padding-bottom: 5px;
}

.learn-more {
    padding-top: 10px;
    font-size: 12px;
    font-style: italic;
    text-align: right;
}

.learn-more-clicked {
    padding-top: 15px;
}

.learn-more-link {
    color: #0079d3;
    text-decoration: underline;
}
